.slogan{
    font-family: 'Dancing Script';
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imagenes/section/eslogan.jpg);
    background-size: cover;
    height: 40vh;
    font-size: 25px;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    
}
.slogan h1{
    padding-right: 500px;
}
.contact{
    color: white;
    background: #720000;
    display: flex;
    height: 23vh;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact p{
    margin-left: 20px;
}
.msj{
    font-size: 20px;
    font-weight: bold;
    margin-top: 16vh;
    font-family: 'Dancing Script';
}